/*
    stylesheet.css
    Sean Gallagher & David White
    Styles for the hockey webapp
    for CS 257, Spring 2018. 
*/


/* Style page content */
.main {
    vertical-align: top;
    margin-left: 10%;
    display: inline-block;
    position: relative;
    top: 0;
    padding: 0px 10px;
}

/* Home Page */
table#results_table1 {
    display: inline-block;
    border-collapse: collapse;
    vertical-align: top;
    float: left;
}

table#results_table2 {
    display: inline-block;
    border-collapse: collapse;
    vertical-align: top;
    float: right;
}

/* General tables*/
th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.odd {
    background-color: #E8E8E8;
}

/* General links & buttons */
a {
  color: #0B86B5;
  text-decoration: underline;
}

a:hover {
  background-color: #D8D8D8;
  text-decoration: none;
  cursor: pointer;
}

button {
    cursor: pointer;
}

.table button {
    background-color: white;
    color: black;
    border: 1px solid #555555;
    text-align: center;
    font-size: 16px
}

.table button:hover {
    background-color: #555555;
    color: white;
}


/* The sidebar menu */
.topnav {
    height: 5%;
    width: 100%; /* Set the width of the sidebar */
    position: relative; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
}
.topnav a {
    width: 165px;
    height: 100%;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid black;
    float: left;
    color: #0B86B5;
    display: block;
}

.sidenav .button:not(:last-child) {
    border-right: none;
}


.sidenav {
    display: inline-block;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: relative; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 10px; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav button {
    width: 100%;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid black;
    display: inline-block;
    color: #0B86B5;
    display: block;
}

.sidenav .button:not(:last-child) {
    border-bottom: none;
}

/* When you mouse over the navigation links, change their color */
.sidenav button:hover {
    color: #111;
}

