<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='players.css') }}" />
    <script>var api_port = {{ api_port }};</script>
    <script>var host_port = {{ host_port }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='home.js') }}" defer></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='hockeyicon.png') }}" />
    <title>CS 257: Software Design, Spring 2017</title>
</head>

<body>
<script type = "text/javascript" src="{{ url_for('static',filename='team_sidebar.js') }}"></script>
<div class="main">
    <h1>CS 257: Sample Web App</h1>
    <h2>Spring 2017</h2>

    <h3>Index Page</h3>

    <input type="text" id="search_text1" placeholder="Search...">
    <button type="submit" onclick="getSearchResults('1');"></button>
    
    <input type="text" id="search_text2" placeholder="Search...">
    <button type="submit" onclick="getSearchResults('2');"></button>
    
    <p><table class="table" id="results_table1"></table><table class="table" id="results_table2"></table></p>
</div>

  </body>
</html>
