<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>var api_port = {{ api_port }};</script>
    <script>var host_port = {{ host_port }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='home.js') }}" defer></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='hockeyicon.png') }}" />
    <title>CS 257: Player Comparison</title>
</head>

<body>
<script type = "text/javascript" src="{{ url_for('static',filename='team_sidebar.js') }}"></script>
<div class="main">

    <h2>Player Comparison</h2>
    <h3>Search for and select two players to compare their stats</h3>
    
    <input type="text" id="search_text1" onkeydown="if(event.keyCode==13) getSearchResults('1');" placeholder="Search..."/>
    <button type="submit" onclick="getSearchResults('1');"><i class="fa fa-search"></i></button>
    
    <input type="text" id="search_text2" onkeydown="if(event.keyCode==13) getSearchResults('2');" placeholder="Search..."/>
    <button type="submit" onclick="getSearchResults('2');"><i class="fa fa-search"></i></button>

    <p id="runcode"><table class="table" id="results_table1"></table><table class="table" id="results_table2"></table></p>
</div>


  </body>
</html>
