<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}" />
    <script>var api_port = {{ api_port }};</script>
    <script>var host_port = {{ host_port }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='teams.js') }}" defer></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='hockeyicon.png') }}" />
    <title>CS 257: All Teams</title>
</head>

<body>
<script type = "text/javascript" src="{{ url_for('static',filename='team_sidebar.js') }}"></script>
<div class="main">
    <h2>NHL Teams</h2>
    <h3>Order by clicking on table headers</h3>
    <p><table id="results_table"></table></p>
</div>
  </body>
</html>
