<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}" />
    <script>var api_port = {{ api_port }};</script>
    <script>var host_port = {{ host_port }};</script>
    <script>var team_id = {{ team_id }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='team.js') }}" defer></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='hockeyicon.png') }}" />
    <title>CS 257: Team Page</title>
</head>

<body>
<script type = "text/javascript" src="{{ url_for('static',filename='team_sidebar.js') }}"></script>
<div class="main">

    <h2 id="team_name"></h2>
       <table id="team_stats"></table>
       <h2>Roster</h2>
       <table id="team_players"></table>
</div>


  </body>
</html>
